@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
  font-family: 'Amatic SC', cursive;
}

.joke-header {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
}
